html, body{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ddf;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 22px;
}
#page-wrapper{
  width: 922px;
  margin: 10px auto;
  border: 1px solid #555;
  background-color: white;
}
#page-content{
  padding: 8px;
  a{
    color: black;
    text-decoration: none;
  }
  .destroy-link{
    float: right;
    a{
      background-color: #800;
      color: white;
      font-weight: bold;
      padding: 4px 10px;
    }
  }
}
tr.even{
  background-color: #ddf;
}
#page-links{
  margin-top: 8px;
  margin-bottom: 8px;
  a{
    padding: 4px;
    border: 1px dotted #555;
    &:hover {
      background-color: #ddd;
      border-style: solid;
    }
  }
}

.offset-navigation-block{
  border-style: double;
  border-color: #444;
  border-left-width: 0;
  border-right-width: 0;
  .offset-navigation-deeper, .offset-navigation-higher{
    a{
      padding: 4px;
      border: 1px solid #aaa;
      &:hover {
        background-color: #ddd;
        border-color: black;
      }
    }
    padding: 8px;
  }
}
